#for PVR
/dev/pvrsrvkm             0666   system     system

#for DSSCOMP
/dev/dsscomp              0666   system     system
/dev/tiler                0666   system     system

#for SYSLINK
/dev/rpmsg-omx0           0666   system    system
/dev/rpmsg-omx1           0666   system    system
/dev/rproc_user           0666   system    system
/dev/tf_driver            0666   system    system
/dev/tf_ctrl              0666   system    system

#for GCX
/dev/gcioctl              0666   system     system

/dev/dmm                  0666   system     system
/dev/ion                  0666   system     system

/dev/video0               0666   system     camera
/dev/video1               0666   system     camera
/dev/video2               0666   system     camera

# for Sensor HAL
/dev/accelerometer        0666   system     system

# USB peripheral
/dev/bus/usb/*            0666  root         usb
/dev/mtp_usb              0666  root         mtp
/dev/usb_accessory        0666  root         usb

# wifi
/dev/rfkill		  0666  root 	     wifi
